@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.buggy-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
#inpu {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
  background-color: rgba(128, 128, 128, 0.075);
}
.buttonn {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
  background-color: rgba(128, 128, 128, 0.075);
}
.butt-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}
.fixed {
  position: fixed;
}
.butt {
  background-color: #0a0a0a10;
  padding: 5px;
  border-radius: 4px;
}

.card {
  border-bottom: 1px solid rgb(177, 177, 177);
  border-left: 1px solid rgb(177, 177, 177);
  border-radius: 4px;
}

#pad {
  padding-bottom: 5px;
}

.info {
  padding: 5px;
  background: linear-gradient(to right, #dbdbdbaf, #ffffff);
  display: grid;
  grid-template-columns: 1fr;
  color: gray;
}
#thegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#layer {
  background-blend-mode: multiply;
}

.grid3 {
  background: linear-gradient(
    90deg,
    rgba(64, 64, 71, 0),
    rgba(255, 251, 0, 0.486)
  );
  margin-top: 10px;
}

.grid4 {
  background-color: rgba(0, 0, 0, 0.055);
}

#header {
  background-image: url("https://www.linkpicture.com/q/wheat_3.jpg");
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}
.marq {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.pic {
  max-width: 150px;
  max-height: 150px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

@media only screen and (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
  }
}

#x {
  padding: 10px;
}
#x:hover {
  padding: 0px;
}

#bod {
  background-color: rgba(255, 255, 255, 0.068);
}
.display {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-bottom: 2%;
}

.display2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 2%;
  margin-top: 0;
  background: url(https://images.pexels.com/photos/6129801/pexels-photo-6129801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#sub {
  padding-bottom: 45px;
}

@media only screen and (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
  }
}

.test {
  justify-content: center;
  margin-top: 15px;
}
.hthree {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 30px;
  text-align: center;
}

#header {
  padding: 20px;
  color: white;
}

.triangle::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}
