@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.buggy-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.butt-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}
.fixed {
  position: fixed;
}
.butt {
  background-color: #dbdbdbaf;
  padding: 5px;
  border-radius: 4px;
}

.card {
  border-bottom: 1px solid rgb(177, 177, 177);
  border-left: 1px solid rgb(177, 177, 177);
  border-radius: 4px;
}

#pad {
  padding-bottom: 5px;
}

.info {
  padding: 5px;
  background: linear-gradient(to right, #dbdbdbaf, #ffffff);
  display: grid;
  grid-template-columns: 1fr;
  color: gray;
}
#thegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header {
  background-color: green;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

@media only screen and (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
  }
}

.display {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
  }
}

.test {
  justify-content: center;
  margin-top: 15px;
}
.hthree {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 30px;
  text-align: center;
}

#header {
  padding: 20px;
  color: white;
}

.triangle::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}
